<head>

    <script src="http://localhost:6240/signalr/hubs"></script>
    <script>
        abp.signalr = abp.signalr || {};
        abp.signalr.autoConnect = false;
    </script>
    <script src="http://localhost:6240/Abp/Framework/scripts/libs/abp.signalr.js"></script>

</head>
<style>
    #image {
        width: 100px;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 2px;
        display: block;
    }
</style>
<div ng-controller="tenant.views.imageboard.thread as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Image Board")</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <h3>@L("AllReply")</h3>

    <div class="list-group" ng-repeat="person in vm.post">

        <div {{person.count}} class="list-group-item">
            <h4 class="list-group-item-heading">
                <img ng-if="person.fileExtension == '.jpg' || person.fileExtension == '.png'|| person.fileExtension == '.gif' || person.fileExtension == '.jpeg' || person.fileExtension == '.icon'" id="image" src="{{person.mediaPath}}" />
                @*<video width="320" height="240" style="display:block" ng-if=" person.fileExtension == '.mp4' || person.fileExtension == '.webm'" class="expanded fit-to-width" autoplay="" controls="" loop="">
            <source src="{{person.mediaPath}}" type="video/webm">
            <source src="{{person.mediaPath}}" type="video/mp4">
        </video>*@
                <video ng-if=" person.fileExtension == '.mp4' || person.fileExtension == '.webm'" width="320" height="240" <source src="{{person.mediaPath}}" style="display:block" controls autoplay loop/>  </video>

                Id : {{person.count}} PosterName : {{person.posterName}} <br />
                UserID : {{person.poster}} <br> Text : {{person.text}}

            </h4>
            <button ng-disabled="person.poster != vm.user.id" id="buttondel" class="btn btn-icon-only red" style="position: absolute;right: 10px;top: 7px;" ng-click="vm.delete(person.count)"><i class="fa fa-times"></i></buttonng-disabled="person.poster>
            <button ng-disabled="person.poster != vm.user.id" id="buttonedit" class="btn btn-icon-only green" style="position: absolute;right: 10px; bottom: 9px;" ng-click="vm.edit(person.count)"><i class="fa fa-edit"></i></button>

        </div>
    </div>
    <button class="btn btn-primary blue" ng-click="vm.edit('')"><i class="fa fa-plus"></i> @L("CreateNewReply")</button>

</div>